{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true,
      "dts": true,
      "importAssertions": false
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "minify": {
      "sourceMap": true
    },
    "target": "es2018",
    "loose": true,
    "externalHelpers": false,
    "keepClassNames": true
  }
}